sudo: true

language: rust

rust:
  - stable
  - beta
  - nightly

matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true

script:
  - cargo test
# TODO: find a coverage lib for Rust
#after_success:
#- bash <(curl -s https://codecov.io/bash)
